.ColAssetInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.AssetImage {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.BodyInfoAsset {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex: 1;
  gap: 32px;
}

strong {
  margin-bottom: 8px;
}
